#contato {
    background-color: var(--white);
    padding:  60px 0 60px 0;
    text-align: center;
}

#contato p{
    max-width: 85vw;
}

.contato_wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto 50px;
    flex-wrap: wrap;
    max-width: 85vw;
}

.contato_wrap > div {
    flex: 1;
    text-align: center;
    min-width: 280px;
}


.map_wrap {
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 85vw;
}

.map_wrap iframe {
    width: 100%;
    height: 450px;
    border: 0;
    margin-bottom: -5px;
}

@media (max-width: 954px) {
    .contato_wrap{
        flex-direction: column;
        flex-grow: 0;

    }

    .map_wrap{
        max-height: 40vh;
    }

    .map_wrap iframe {
        max-height: 40vh;
    }
}