#hero {
    background-color: var(--light-gray-bg);
    padding-bottom: 60px;
}

.hero_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    max-width: 85vw;
    margin: 0 auto;
    padding-top: 160px;
}

.hero_text_column {
    flex: 1;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.hero_image_column {
    flex: 1;
    max-width: 50%;
}

.hero_image_column img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.hero_swiper {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

@media (max-width: 954px) {
    .hero_container{
        flex-direction: column;
        flex-grow: 0;
        text-align: center;
    }

    .hero_text_column{
        align-items: center;
    }
}
