#hero {
    background-color: var(--light-gray-bg);
    padding-bottom: 60px;
}

.hero_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    max-width: 85vw;
    margin: 0 auto;
    padding-top: 160px;
}

.hero_text_column {
    flex: 1;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.hero_swiper_mobile {
    display: none;
}

.hero_image_column_desktop {
    flex: 1;
    max-width: 50%;
}

.hero_swiper {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.hero_swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 954px) {
    .hero_container{
        flex-direction: column;
        text-align: center;
        gap: 35px;
        padding-top: 120px;
    }

    .hero_text_column{
        align-items: center;
        max-width: 100%;
    }

    .hero_text_column h1{
        font-size: 2rem;
    }

    .hero_swiper_mobile {
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    .hero_image_column_desktop {
        display: none;
    }
}