:root {
    --purple-main: #5D3A9B;
    --dark-blue-text: #2c3e50;
    --light-gray-bg: #f8f9fa;
    --light-gray-text: rgba(255, 255, 255, 0.7);
    --white: #fff;
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: var(--dark-blue-text);
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: var(--dark-blue-text);
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10vh;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-blue-text);
    line-height: 1.2;
    font-weight: 700;
}

p{
    font-size: 1.1rem;
    color: var(--dark-blue-text);
    opacity: 0.8;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1px;
    max-width: 500px;
}

span{
    font-size: 1.1rem;
    color: var(--dark-blue-text);
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1px;
    max-width: 500px;
}

a {
    color: var(--purple-main);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    color: var(--dark-blue-text);
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 50px;
}

.agendar-button {
    color: var(--white);
    background-color: var(--purple-main);
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 2rem;
    padding: 12px 24px;
    font-size: 0.95rem;
    font-weight: bold;
    white-space: nowrap;
    transition: all 0.3s ease;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.agendar-button:hover {
    box-shadow: 0 4px 15px rgba(93, 58, 155, 0.4);
    background-color: #4a2d7b;
    transform: translateY(-2px);
    color: var(--white);
    text-decoration: underline;
}